*{
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    background-color: rgb(240, 240, 240);
}

.nav img {
    padding: 20px;
    width: 10%;
    height: auto;
}

.nav ul {
    font-size: 150%;
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 20PX;
    list-style: none;
    flex-wrap: wrap;
    transition: 0.9s;
}

.banner-container1 {
    background-color: #FAFAFA;
    color: #424C66;
}

.btn {
    font-size: 150%;
    text-decoration: none;
    border: 1px solid #424C66;
    background-color: #424C66;
    padding: 10px 15px;
    border-radius: 5px;

    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.texto-principal {
    font-size: 500%;
}

.nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.banner-container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-banner {
    max-width: 50%; 
}

.banner-produto-1 img {
    max-width: 90%; 
    height: auto; 
}

.banner-container2 {
    color: #424C66;
    background-color: #FFFF;
    text-align: center;

}
